In [5]:
import pandas as pd
import numpy as np

In [20]:

d = {'mid-point(x)': [14.5, 24.5,34.5,44.5,54.5,64.5,74.5,84.5], 'freq.': [8, 18, 25 ,22, 16, 6, 3,1]}
df = pd.DataFrame(data=d)
df
df2 = pd.DataFrame(data=d)

In [11]:
df['f*x'] = df['mid-point(x)'] * df['freq.']
df

   mid-point(x)  freq.    f*x
0          14.5      8  116.0
1          24.5     18  441.0
2          34.5     25  862.5
3          44.5     22  979.0
4          54.5     16  872.0
5          64.5      6  387.0
6          74.5      3  223.5
7          84.5      1   84.5

In [14]:
df['f*x'].sum()

3965.5

In [17]:
df['f*x^2'] = df['mid-point(x)'].pow(2) * df['freq.']

In [18]:
df

   mid-point(x)  freq.    f*x     f*x^2
0          14.5      8  116.0   1682.00
1          24.5     18  441.0  10804.50
2          34.5     25  862.5  29756.25
3          44.5     22  979.0  43565.50
4          54.5     16  872.0  47524.00
5          64.5      6  387.0  24961.50
6          74.5      3  223.5  16650.75
7          84.5      1   84.5   7140.25

In [19]:
df['f*x^2'].sum()

182084.75

In [21]:
df2

   mid-point(x)  freq.
0          14.5      8
1          24.5     18
2          34.5     25
3          44.5     22
4          54.5     16
5          64.5      6
6          74.5      3
7          84.5      1

In [41]:
def variance_freq_dist(d_frame,c1, f, m = 1, c = 0):
    A = (m*d_frame[c1]+c) * d_frame[f]
    
    B = (m*d_frame[c1] + c).pow(2) * d_frame[f]
    
    n = d_frame[f].sum()
    
    sigma_sqrd = 1/n * (B.sum() - (A.sum()**2)/n)
    
    return round(sigma_sqrd, 2)

def mean_freq_dist(d_frame,c1, f, m = 1, c = 0):
    n = d_frame[f].sum()
    mean = ((m*d_frame[c1] + c)* d_frame[f]).sum()/n
    return round(mean, 2)


var = variance_freq_dist(df, 'mid-point(x)', 'freq.')
std = round(np.sqrt(var), 2)
mean = mean_freq_dist(df, 'mid-point(x)', 'freq.')
print(var)
print(std)
print(mean)

234.79
15.32
40.06

In [73]:
df['mid-point(x)'] * 1

0    14.5
1    24.5
2    34.5
3    44.5
4    54.5
5    64.5
6    74.5
7    84.5
Name: mid-point(x), dtype: float64

In [71]:
def data_revisor(d_frame,c1, f, m=1, c=0):
    var = variance_freq_dist(d_frame,c1, f, m , c)
    mean = mean_freq_dist(d_frame,c1, f, m, c)
    
    return (var, mean)

data_revisor(df, 'mid-point(x)', 'freq.', m=1, c = 1000)

(234.79, 1040.06)

In [69]:
#939.17/234.79
#2113.13/234.79
#3756.68/234.79
5869.81/234.79
40.06 * 5

200.3

In [84]:
sum(range(1,3))/2

4.0