In [37]:
import pandas as pd
import numpy as np
import seaborn as sns

In [32]:
mu, sigma = 0, 1 # mean and standard deviation
s = np.random.normal(mu, sigma, 100)

In [33]:
df=pd.DataFrame({'A':s})

df

           A
0   0.328215
1   0.001193
2  -0.043293
3  -0.056216
4   1.673477
..       ...
95 -0.532413
96  0.187926
97 -0.601349
98  0.658710
99 -2.743355

[100 rows x 1 columns]

In [34]:
freq_dist = pd.DataFrame(pd.cut(df['A'], bins=10).value_counts()).sort_index()
freq_dist.index.name = 'decile'

In [35]:
freq_dist.reset_index()

             decile   A
0   (-2.749, -2.19]   1
1   (-2.19, -1.636]   2
2  (-1.636, -1.083]   5
3  (-1.083, -0.529]  22
4  (-0.529, 0.0247]  23
5   (0.0247, 0.578]  19
6    (0.578, 1.132]  12
7    (1.132, 1.686]  12
8    (1.686, 2.239]   2
9    (2.239, 2.793]   2